{% extends 'base.html.twig' %}

{% block title %}- FILMS{% endblock %}

{% block body %}
<div class="card-group mt-5">
    {% for film in films %}
        <div class="card bg-dark text-white">
        <img src="{{ asset('build/images/{{ film.poster }}') }}" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">{{ film.title }}</h5>
            <p class="card-text">{{ film.summary }}</p>
        </div>
        <div class="card-footer bg-transparent border-success"><small class="text-muted">#{{ film.continent }}</small></div>
        </div>
                        {# <a class="btn btn-outline-secondary" href="{{ path('book_show', { 'idBook' : indexBook.id }) }}">Voir</a> #}
    {% endfor %}
</div>
{% endblock %}
